@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Faster+One&display=swap');


header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgb(230, 220, 220);
    height: 150vh;
    width: 100vw;
    display: block;
    z-index: -10;
}   

h2{ text-align:center;
    color: rgb(123, 13, 32);
    font-family: 'Faster one', sans-serif;
    font-size: 30px;
    }
p{
    text-align:justify;
    color: rgb(64, 183, 219);
    font-family: 'Economica', sans-serif;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
   
}

li{ 
    text-align:justify;
    color: rgb(63, 7, 16);
    font-family: 'Economica', sans-serif;
    font-size: 15px;
}

#secao-projetos {
    height: 100vh;
    background-color: rgb(252, 174, 174);

}
#secao-projetos ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 80%;
}
#secao-projetos li{
    list-style: none;
}
.card{
    max-height: 420px;
    max-width: 400px;
    position: relative;
    cursor: pointer;
}

.card .image {
    height: 100%;
    width: 110%;
    overflow: hidden;

}
.image img{
    height: 70%;
    width: 80%;
    object-fit: cover;
}
.card .texto {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .5s;
}
.card:hover .texto{
    opacity: 1;

}
.card:hover .image{
    opacity:0.7;
}
h3{
    text-align: center;
    color: rgb(72, 134, 216);
}